MySpheroSOAProject/SOA/WSDLs/RestReference_2.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="RestReference_2"
     targetNamespace="http://xmlns.oracle.com/MySpheroService/MySpheroSOAProject/RestReference_2"
     xmlns:tns="http://xmlns.oracle.com/MySpheroService/MySpheroSOAProject/RestReference_2"
     xmlns:inp1="http://www.oracle.com/data/services/post/message/v1"
     xmlns:inp2="http://xmlns.oracle.com/MySpheroService/MySpheroSOAProject/RestReference_2"
     xmlns:inp3="http://www.oracle.com/data/services/post/message/v1"
     xmlns:inp4="http://www.oracle.com/data/services/post/message/v1"
     xmlns:inp5="http://xmlns.oracle.com/MySpheroService/MySpheroSOAProject/RestReference_2"
     xmlns:inp6="http://www.oracle.com/data/services/post/message/v1"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <plnk:partnerLinkType name="RestReference_2">
        <plnk:role name="RestReference_2Provider" portType="tns:RestReference_2_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/MySpheroService/MySpheroSOAProject/RestReference_2"
             elementFormDefault="qualified">
            <element name="empty">
                <complexType/>
            </element>
        </schema>
        <schema elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.oracle.com/data/services/post/message/v1"
             xmlns:client="http://www.oracle.com/data/services/post/message/v1">
            <element name="colourRequest" type="client:ColourRequestType"/>
            <element name="shapeRequest" type="client:ShapeRequestType"/>
            <element name="MsgFault" type="client:MsgFaultType"/>
            <complexType name="ColourRequestType">
                <sequence>
                    <element name="colour" type="string"/>
                </sequence>
            </complexType>
            <complexType name="ShapeRequestType">
                <sequence>
                    <element name="shape" type="string"/>
                    <element name="colour" type="string"/>
                </sequence>
            </complexType>
            <complexType name="MsgFaultType">
                <sequence>
                    <element name="ErrMsg" type="string"/>
                </sequence>
            </complexType>
        </schema>
    </wsdl:types>
    <wsdl:message name="setColor_inputMessage">
        <wsdl:part name="request" element="inp1:colourRequest"/>
    </wsdl:message>
    <wsdl:message name="Rest_EmptyMessage">
        <wsdl:part name="Empty" element="tns:empty"/>
    </wsdl:message>
    <wsdl:message name="setColor_MsgFaultMessageMessage">
        <wsdl:part name="fault_MsgFaultMessage" element="inp1:MsgFault"/>
    </wsdl:message>
    <wsdl:message name="setShape_inputMessage">
        <wsdl:part name="request" element="inp1:shapeRequest"/>
    </wsdl:message>
    <wsdl:message name="setShape_MsgFaultMessageMessage">
        <wsdl:part name="fault_MsgFaultMessage" element="inp1:MsgFault"/>
    </wsdl:message>
    <wsdl:portType name="RestReference_2_ptt">
        <wsdl:operation name="setColor">
            <wsdl:input message="tns:setColor_inputMessage"/>
            <wsdl:output message="tns:Rest_EmptyMessage"/>
            <wsdl:fault name="MsgFaultMessage" message="tns:setColor_MsgFaultMessageMessage"/>
        </wsdl:operation>
        <wsdl:operation name="setShape">
            <wsdl:input message="tns:setShape_inputMessage"/>
            <wsdl:output message="tns:Rest_EmptyMessage"/>
            <wsdl:fault name="MsgFaultMessage" message="tns:setShape_MsgFaultMessageMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
