MySpheroSOAProject/SOA/WADLs/RestReference_2.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02" xmlns:inp1="http://www.oracle.com/data/services/post/message/v1">
   <doc title="RestReference_2">RestService</doc>
   <grammars>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/MySpheroService/MySpheroSOAProject/SpheroReference" elementFormDefault="qualified" xmlns:tns="http://xmlns.oracle.com/MySpheroService/MySpheroSOAProject/SpheroReference" xmlns:inp1="http://www.oracle.com/data/services/post/message/v1" xmlns:inp2="http://xmlns.oracle.com/MySpheroService/MySpheroSOAProject/SpheroReference" xmlns:inp3="http://www.oracle.com/data/services/post/message/v1" xmlns:inp4="http://www.oracle.com/data/services/post/message/v1" xmlns:inp5="http://xmlns.oracle.com/MySpheroService/MySpheroSOAProject/SpheroReference" xmlns:inp6="http://www.oracle.com/data/services/post/message/v1" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <element name="empty">
                <complexType/>
            </element>
        </schema>
      <schema elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.oracle.com/data/services/post/message/v1" xmlns:client="http://www.oracle.com/data/services/post/message/v1" xmlns:tns="http://xmlns.oracle.com/MySpheroService/MySpheroSOAProject/SpheroReference" xmlns:inp1="http://www.oracle.com/data/services/post/message/v1" xmlns:inp2="http://xmlns.oracle.com/MySpheroService/MySpheroSOAProject/SpheroReference" xmlns:inp3="http://www.oracle.com/data/services/post/message/v1" xmlns:inp4="http://www.oracle.com/data/services/post/message/v1" xmlns:inp5="http://xmlns.oracle.com/MySpheroService/MySpheroSOAProject/SpheroReference" xmlns:inp6="http://www.oracle.com/data/services/post/message/v1" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <element name="colourRequest" type="client:ColourRequestType"/>
            <element name="shapeRequest" type="client:ShapeRequestType"/>
            <element name="MsgFault" type="client:MsgFaultType"/>
            <complexType name="ColourRequestType">
                <sequence>
                    <element name="colour" type="string"/>
                </sequence>
            </complexType>
            <complexType name="ShapeRequestType">
                <sequence>
                    <element name="shape" type="string"/>
                    <element name="colour" type="string"/>
                </sequence>
            </complexType>
            <complexType name="MsgFaultType">
                <sequence>
                    <element name="ErrMsg" type="string"/>
                </sequence>
            </complexType>
        </schema>
   </grammars>
   <resources>
      <resource path="/sphero/shape/{shape}/color/{colour}">
         <method name="POST" soa:wsdlOperation="setShape">
            <request>
               <param name="shape" style="template" soa:expression="$msg.request/inp1:shape" type="xsd:string" default=""/>
               <param name="colour" style="template" soa:expression="$msg.request/inp1:colour" type="xsd:string" default=""/>
               <representation mediaType="application/json" element="cns:shapeRequest" xmlns:cns="http://www.oracle.com/data/services/post/message/v1"/>
            </request>
            <response status="202"/>
            <response status="400" soa:wsdlFaultName="MsgFaultMessage">
               <representation mediaType="application/xml" element="cns:MsgFault" xmlns:cns="http://www.oracle.com/data/services/post/message/v1"/>
            </response>
         </method>
      </resource>
      <resource path="/sphero/color/{colour}">
         <method name="POST" soa:wsdlOperation="setColor">
            <request>
               <param name="colour" style="template" soa:expression="$msg.request/inp1:colour" type="xsd:string" default=""/>
               <representation mediaType="application/json" element="cns:colourRequest" xmlns:cns="http://www.oracle.com/data/services/post/message/v1"/>
            </request>
            <response status="202"/>
            <response status="400" soa:wsdlFaultName="MsgFaultMessage">
               <representation mediaType="application/xml" element="cns:MsgFault" xmlns:cns="http://www.oracle.com/data/services/post/message/v1"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
